body{
    padding-top: 80px;
    background-size:  cover;
    background-position: center;
    padding-left: 0;
    padding-right: 0;

}
   
.top-section{
    position: fixed;
    top: 0;
    left : 0;
    right: 0;
    display: flex;
    height: 64px;
    background-color: black;
    border-radius: 5px;
    z-index: 200;
    text-decoration: none;
}
.left-top{
    width : 100px;
}
.name{
    display: flex;
    flex-direction: column;

}
.name-1{
    color : white;
    position: relative;
    left:10px; 
    top : -10px;
}
.name-2{
    color : white;
    position: relative;
    left:20px;
    top : -10px;

}
h2::after{
    content: '';
    position: absolute;
    background-color: red;
    width : 102px;
    top : 137px;
    height: 2px;
    left: 8px;

}

.name-3{
    color : white;
    position: relative;
    left: 10px;
    top:-10px;
    text-decoration: none;
    border-bottom: 1px solid black;
}
.content{
    display: flex;
    column-gap: 10px;
}
.left{
    width: 550px;
    line-height: 25px;
}
.right{
    width : 400px;
    margin-right: 0;
}
.contents{
    width: 100%;
    margin-top: 50px;
    background-image: url("images (2).jpg");
    background-size: cover;
    background-position: center;
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}
h3{
    margin-bottom: 30px;
}
h3::after{
    content: '';
    position: absolute;
    background-color: red;
    width : 152px;
    top : 729px;
    height: 2px;
    left: 24px;
}
.vision{
    font-size: 17px;
}
.vision-content{
    font-size: 15px;
}
.values{
    font-size: 17px;
}
li{
    font-size: 15px;
    margin-bottom: 5px;
    
}
.vision-img{
    width : 400px;
}