body{
    padding-bottom: 100px;
    padding-top: 80px;
    background-size:  cover  ;
    padding-left: 10px;

}
   
.top-section{
    position: fixed;
    top: 0;
    left : 0;
    right: 0;
    display: flex;
    height: 64px;
    background-color: black;
    border-radius: 5px;
    z-index: 200;
    text-decoration: none;
}
.left-top{
    width : 100px;
}
.name{
    display: flex;
    flex-direction: column;

}
.name-1{
    color : white;
    position: relative;
    left:10px; 
    top : -10px;
}
.name-2{
    color : white;
    position: relative;
    left:20px;
    top : -10px;

}
.name-3{
    color : white;
    position: relative;
    left: 10px;
    top:-10px;
    text-decoration: none;
    border-bottom: 1px solid black;
}
h2{
    margin-bottom: 50px;
}
h2::after{
    content: '';
    position: absolute;
    background-color: red;
    width: 160px;
    height: 2px;
    top : 140px;
    left : 18px;
}

.note{
    font-size: 15px;
    line-height: 22px;
}
.point{
    display: block;
    margin-top: 5px;
    margin-left: 20px;
}