
    body{
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        background-size: cover;
        background-position: center;
    }
    .top-section{
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        height: 64px;
        background-color: black;
        border-radius: 5px;
        z-index: 200;
    }
    .left-top{
    width : 100px;
    }
    .name{
        display: flex;
        flex-direction: column;
    }.name-1{
        color : white;
        position: relative;
        left:10px; 
        top : -10px;
    }
    .name-2{
        color : white;
        position: relative;
        left:20px;
        top : -10px;
    }
    .name-3{
        color : white;
        position: relative;
        left: 10px;
        top:-10px;
    }
    
    .right-top{
        display: flex;
        flex-direction: row;
    }
    .button-home{
        color: white;
        position: relative;
        background-color: black;
        cursor: pointer;
        border: none;
        width: 60px;
        top: 24px;
        right: -670px;
        transition: 0.5s;
    }
    .button-home:hover{
        border: 1px solid white;
        border-radius: 4px;
        background-color: black;
    }
    .button-home:active{
        background-color: white;
        color: black;
    }
    .order{
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }
    .order-button{
        color: white;
        background-color: black;
        position: relative;
        width: 50px;
        right: -700px;
        top: 20px;
        text-decoration: none;
        border: none;
        cursor: pointer;
    }
    .order-button:hover{
        background-color: black;
        border: none;
    }
    img{
        position: relative;
        height: 25px;
        top: 22px;
        right: -700px;
    }
    .cartQuantity{
        color: orangered;
        position: absolute;
        right : 70px;
    }
    .p{
        height: 75px;
        border: 1px solid black;
        border-radius: 1cap;
        display: flex;
        padding-top: 12px;
        transform: scale(1);
    }
    .p:hover{
        transform: scale(1.04);
    }
    .left{
        width: 200px;
    }
    .center{
        flex: 1;
    }
    .right{
        width:325px;
    }
    .name-p{
        margin-right: 100px;
        font-size: 20px;
        margin-bottom: 0;
    }
    .code{
        margin-right:100px ;
        margin-top:3px;
    }
    .description{
        font-size: 14px;
    }
    .stock{
        margin-top: 5px;

    }
    .add,
    .add1,
    .add2,
    .add3,
    .add4,
    .add5,
    .add6,
    .add7,
    .add8{
        position: absolute;
        width: 70px;
        border: none;
        background-color: darkgreen;
        height:25px;
        color: white;
        right: 20px;
        border-radius: 3px;
        cursor: pointer;
    }
    .add{
        top: 113px;
    }
    .add1{
        top: 188px;
    }
    .add2{
        top: 263px;
    }
    .add3{
        top: 338px;
    }
    .add4{
        top: 413px;
    }
    .add5{
        top: 488px;
    }
    .add6{
        top: 563px;
    }
    .add7{
        top: 638px;
    }
    .add8{
        top: 713px;
    }
    .added{
        background-color: darkred;
    }

